<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


  </head>
  <body>
     <nav class="nav">
      <div class="nav-container">
        <div class="logo">𝔸𝕩𝕚𝕤</div>

        <button class="menu-toggle" aria-label="Toggle menu">
          ☰
        </button>

        <div class="nav-links">
          <a href="#Home">Home</a>
          <a href="#Track">Track</a>
          <a href="#overview">Overview</a>
        </div>
      </div>
    </nav>
    <a id="Home" href=""></a>
   <div  id="Home" class="bg-wrapper">
    
      
      <div class="hero">
        <div class="hero_banner">Track your habits without the effort<p class="hero_p">Interested? click this button below down <span class="animate-pulse text-4xl">↓</span></p></div>
        <a class="bg-green-200 rounded-xl text-center w-50 text-3xl text-black m-10   hover:bg-orange-100 hero_Btn" href="#Track">Get started</a>
      </div>

   </div>
   </a>
    <div class="text-white text-center text-3xl section-title">
      <p class="inner-ttle " >Track Your Habits</p>
    </div>
   <div id="Track"  class="Track-S flex justify-center  items-center">

   <div class="flex justify-center items-center">
      <div class="bg-blue-200 w-150 h-200 rounded-2xl rounded-br-none rounded-tr-none shadow-2xl border border:blue-200 flex justify-center items-center side-barA opacity-75  ">
        <div class="form_add">

        </div>

            <div id="addNewH" class="w-[clamp(280px,90vw,420px)] bg-red-500 text-white h-10 text-3xl rounded-xl text-center font-semibold hover:bg-red-600 transition animate-pulse addNewH">
              add new habit
            </div>
      </div>
      <div class="bg-green-200 w-270 h-200 rounded-2xl rounded-bl-none rounded-tl-none  shadow-2xl border border:blue-200 opacity-60 flex justify-center items-center side-barB" id="resultArea">
        <div class="bg-orange-200 w-250 h-185 rounded-4xl shadow-3xl gap-2 overflow-x-auto overflow-y-hidden innerGR1-div">
           <div id="emptyMessege" class="emptyMessege">
                You haven’t added any activities yet. fill the form  to create your first one.
            </div>
          <div class="flex flex-row flex-nowrap gap-20 justify-center items-center innerGR3-div snap-x snap-mandatory  resultAreaContent">
        
          </div>  
        </div>
      </div>
    </div>
  </div>

   <div class="text-white text-center text-3xl section-title">
      <p class="inner-ttle " >Overview</p>
   </div>

  <div id="overview" class="Overview-S flex justify-center  items-center gap-20">
    <div class="bg-blue-200 h-200 w-150 rounded-4xl border border:black-200 text-black font-semibold flex  flex-col gap-0">
      <span class="flex  justify-center items-center text-4xl">Tasks</span>
      <div id="Counter" class="text-[60rem] h-180 flex  justify-center items-center">
        \
      </div>
      </div>

    <div class="bg-blue-200 h-200 w-150 rounded-4xl border border:black-200 text-black font-semibold flex  flex-col gap-0">
      <span class="flex  justify-center items-center text-4xl">spent</span>
      <div id="bigspent" class="text-[60rem] h-180 flex  justify-center items-center overflow-hidden">
        \
      </div>
      </div>

    <div class="bg-blue-200 h-200 w-150 rounded-4xl border border:black-200 text-black font-semibold flex  flex-col gap-0">
      <span class="flex  justify-center items-center text-4xl">Tasks</span>
      <div id="" class="text-[60rem] h-180 flex  justify-center items-center">
        \
      </div>
      </div>
  </div>
  </div>
   <script src="app.js"></script>
  <button id="FloatingBtn" class="bg-red-500 w-10 h-10 text-center text-white text-2xl rounded-xl FloatingBtn">ADD</button>
  </body>
</html>
